.button {
  display: flex;
  width: 70%;
  justify-content: center;
  margin-top: 35px;
  padding: 5px;
  cursor: pointer;
}

@media (min-width: 1441px) {
  .button {
    height: 40px;
    font-size: 1.2rem;
  }
}