.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  margin-top: 2%;
}

.header p {
  color: #000000;
  text-decoration: none; 
}

.lineHeader1 {
  background: #A9B2BB;
  padding: 1px;
  width: 80%;
  margin-top: 2%;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: space-between;
}

.menu a {
  text-decoration: none;
  color: #000000;
  margin-right: 10%;
  font-size: 1rem;
}

@media (max-width: 1200px) {
  .logoSos {
      width: 20%;
      height: 10%;
    }

  .menu a {
    margin-right: 3%;
    font-size: 0.8rem;
  }
}

@media (max-width: 475px) {
  .menu a {
    margin-right: 2%;
    font-size: 0.6rem;
  }
}