.lineFooter {
  background: #A9B2BB;
  padding: 1px;
  width: 80%;
  margin-top: 2.5%;
}

.divFooter {
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  margin-top: 2%;
  margin-bottom: 3%;
}

.footerGithub {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footerGithub a {
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
}

@media (min-width: 1441px) {
  .logoSos {
    width: 10%;
    height: 10%;
  }

  .footerGithub a {
    font-size: 1.8rem;
  }
}

@media (max-width: 1200px) {
  .logoSos {
      width: 20%;
      height: 10%;
    }

  .logoGithub {
    width: 25%;
    height: 15%;
  }

  .footerGithub a {
    font-size: 1rem;
  }
}

@media (max-width: 475px) {
  .footerGithub a {
    font-size: 0.6rem;
  }
}
