.divInput {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.label{
  margin-top: 20px;
  margin-bottom: 10px;
}

.input {
  background-color: #d9d9d9;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  width: 200px;
}

@media (min-width: 1441px) {
  .label{
    font-size: 1.6rem;
  }

  .input {
    width: 250px;
    height: 30px;
  }
}

@media (max-width: 425px) {
  .input {
    width: 150px;
  }

  .label {
    font-size: 0.8rem;
  }
}